# Data Handling
numpy
pandas
matplotlib
seaborn
yfinance

# Core libraries
gymnasium
box2d
stable-baselines3[extra]
torch
tensorboard
optuna
empyrical

# Experiment Tracking and pipeline versioning
mlflow
dvc

# User interface and backend
streamlit
fastapi
uvicorn

# Utils
jupyter
loguru
notebook
ipykernel
python-box
pyYAML
ensure
python-dotenv
tqdm

# code formatting
black
isort
black[jupyter]

-e .